.trusted{
    padding-top: 20px;
    color: $color-gray-1;
    text-align: center;
    background-color: lightgray;
    img{
        padding: 0 30px;
    }
    .text{
        display: block;
        font-weight: 700;
    }
}